# nodejs modules
node_modules

# IDE folders
.idea
.history
.vscode

# binaries
dist
binary_dist
sim/web/__debug_bin
/wowsimcli*
/wowsimtbc*

# temporary files
*.results.tmp
.dockerignore

# lib
wowsimtbc*.so
wowsimtbc*.dll
wowsimtbc*.h
wowsims.db
