// Set grid width for icon sections based on how many buffs we configured.
.elemental-shaman-sim-ui .self-buffs-section {
  grid-template-columns: repeat(4, 1fr);
}
.elemental-shaman-sim-ui .consumes-section {
  grid-template-columns: repeat(4, 1fr);
}
.elemental-shaman-sim-ui .buffs-section {
  grid-template-columns: repeat(6, 1fr);
}
.elemental-shaman-sim-ui .debuffs-section {
  grid-template-columns: repeat(3, 1fr);
}
