@import "../core/themes/default";

:root {
	--main-bg-color: MidnightBlue;
	--main-text-color: White;
	--main-secondary-color: Black;
	--sidebar-bg-color: #222;
	--sidebar-text-color: White;
	--sidebar-highlight-color: Blue;
}

body {
  margin: 0;
}

.SelfBuffs-icon-picker {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.OtherBuffs-icon-picker {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.Consumes-icon-picker {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.Debuffs-icon-picker {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Rotation-section > div, .Other-section > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
