// Set color variables which control the site theme.
.enhancement-shaman-sim-ui {
	--main-bg-color: MidnightBlue;
	--main-text-color: White;
	--main-secondary-color: Black;
	--sidebar-bg-color: #222;
	--sidebar-text-color: White;
	--sidebar-highlight-color: Blue;
}

// Set grid width for icon sections based on how many buffs we configured.
.enhancement-shaman-sim-ui .self-buffs-section {
  grid-template-columns: repeat(4, 1fr);
}
.enhancement-shaman-sim-ui .consumes-section {
  grid-template-columns: repeat(4, 1fr);
}
.enhancement-shaman-sim-ui .buffs-section {
  grid-template-columns: repeat(6, 1fr);
}
.enhancement-shaman-sim-ui .debuffs-section {
  grid-template-columns: repeat(3, 1fr);
}
