// Set color variables which control the site theme.
.feral-druid-sim-ui {
	--theme-color-primary: #e0a335;
	--theme-color-background: #1d1510;
	--theme-color-background-raw: 29, 21, 16;
	--theme-background-image: url('/tbc/assets/feral_druid_background_2.jpg');
	--main-text-color: White;
}

// Set grid width for icon sections based on how many buffs we configured.
.feral-druid-sim-ui .self-buffs-section {
  grid-template-columns: repeat(1, 1fr);
}
.feral-druid-sim-ui .consumes-section {
  grid-template-columns: repeat(5, 1fr);
}
.feral-druid-sim-ui .buffs-section {
  grid-template-columns: repeat(5, 1fr);
}
.feral-druid-sim-ui .debuffs-section {
  grid-template-columns: repeat(2, 1fr);
}

// Balance has a lot of EP stats, so make the text smaller so it fits vertically.
.feral-druid-sim-ui .character-stats-table-row {
  font-size: 14px;
}
.feral-druid-sim-ui .results-ep-table tr td:nth-child(1) {
  font-size: 12px;
}
.feral-druid-sim-ui .results-ep-table tr td:nth-child(2), .results-ep-table tr td:nth-child(4) {
  font-size: 12px;
}
.feral-druid-sim-ui .results-ep-table tr td:nth-child(2):after {
  font-size: 11px;
}
.feral-druid-sim-ui .results-ep-table tr td:nth-child(4):after {
  font-size: 11px;
}
.feral-druid-sim-ui .results-ep-table tr td:nth-child(3), .results-ep-table tr td:nth-child(5) {
  font-size: 10px;
}
