.percent-oom {
  color: var(--main-text-color);
}
.percent-oom.safe {
	color: lawngreen;
}
.percent-oom.warning {
	color: yellow;
}
.percent-oom.danger {
	color: red;
}

.percent-oom-value {
  font-size: 30px;
  font-weight: 700;
}

.percent-oom-label {
  font-size: 18px;
  font-weight: 700;
}
