@import "../core/shared";
@import "dps_histogram";
@import "dps_result";
@import "percent_oom";

body {
	background-color: var(--main-bg-color);
}

.dr-root {
	margin: 10px;
}

.dr-row {
	margin: 10px;
}

.topline-results {
	display: flex;
	justify-content: space-around;
}
