@import "../core/shared";
@import "cast_metrics";
@import "aura_metrics";
@import "dps_histogram";
@import "dps_result";
@import "percent_oom";
@import "source_chart";

body {
	background-color: var(--main-bg-color);
}

.dr-root {
	margin: 10px;
}

.dr-row {
	margin: 10px;
}

.other-metrics {
	display: table;
    width: 100%;
    table-layout: fixed; 
}

.dr-col {
	display: table-cell;
    text-align: center;
}

tr.empty {
	height: 46.188px;
}

.topline-results {
	display: flex;
	justify-content: space-around;
}

// This isnt finished yet, so dont display
.source-stats {
	display: none;
}
