@import "./blessings_picker";
@import "./raid_picker";

.raid-settings-tab {
	overflow-y: auto;
}
.raid-settings-sections {
  position: relative;
}

.raid-encounter-section {
	display: inline-block;
}

.blessings-section {
	display: inline-block;
}
