@import "../balance_druid/sim";
@import "../core/individual_sim_ui";
@import "../elemental_shaman/sim";
@import "../shadow_priest/sim";

@import "./raid_sim_ui";

// Set color variables which control the site theme.
.raid-sim-ui {
	--main-bg-color: Black;
	--main-text-color: White;
	--main-secondary-color: Black;
	--sidebar-bg-color: #222;
	--sidebar-text-color: White;
	--sidebar-highlight-color: Red;
}
