@import "../core/shared";

@import "./raid_picker";

// Set color variables which control the site theme.
:root {
	--main-bg-color: Black;
	--main-text-color: White;
	--main-secondary-color: Black;
	--sidebar-bg-color: #222;
	--sidebar-text-color: White;
	--sidebar-highlight-color: Red;
}
