.icon-enum-picker-root {
}

.icon-enum-picker-root a {
	height: 40px;
	width: 40px;
	display: block;
}

.icon-enum-picker-button {
  background-size: cover;
}

.icon-enum-picker-option {
  background-size: cover;
}
