@import "../shared";

.results-root {
  height: 100%;
  position: relative;
}

.results-root > div {
  @include vertical-horizontal-center;
  width: 100%;
	text-align: center;
}

.results-pending {
}
.results-pending .loader {
  margin: auto;
}

.results-sim {
  text-align: center;
}

.results-sim-dps {
  text-align: center;
}

.results-sim-dps-avg {
  font-size: 30px;
  font-weight: 700;
}
.results-sim-dps-avg:after {
  content: " DPS";
  font-size: 18px;
}

.results-sim-dps-stdev {
  font-size: 18px;
  font-weight: 700;
}
.results-sim-dps-stdev:before {
  content: " \00b1";
  padding: 2px;
}

.results-ep {
}

.results-ep-table {
  margin: auto;
}

.results-ep-table td {
  padding: 3px;
}

.results-ep-table tr td:nth-child(1) {
  text-align: right;
  font-size: 14px;
  font-weight: 700;
}

.results-ep-table tr td:nth-child(2), .results-ep-table tr td:nth-child(4) {
  text-align: left;
  font-size: 14px;
  font-weight: 700;
}
.results-ep-table tr td:nth-child(2):after {
  content: " DPS";
  font-size: 13px;
}
.results-ep-table tr td:nth-child(4):after {
  content: " EP";
  font-size: 13px;
}

.results-ep-table tr td:nth-child(3), .results-ep-table tr td:nth-child(5) {
  text-align: left;
  font-size: 12px;
  font-weight: 700;
}
.results-ep-table tr td:nth-child(3):before, .results-ep-table tr td:nth-child(5):before {
  content: " \00b1";
  padding: 1px;
}

.stats-type-ep .results-ep-table tr td:nth-child(2), .stats-type-ep .results-ep-table tr td:nth-child(3) {
  display: none;
}
.stats-type-dps .results-ep-table tr td:nth-child(4), .stats-type-dps .results-ep-table tr td:nth-child(5) {
  display: none;
}

.results-sim-reference.has-reference .results-sim-set-reference {
	display: none;
}
.results-sim-reference:not(.has-reference) .results-sim-reference-bar {
	display: none;
}

.results-sim-set-reference {
	cursor: pointer;
}

.results-sim-reference-diff.positive {
	color: lawngreen;
}
.results-sim-reference-diff.negative {
	color: red;
}

.results-sim-reference-swap {
	color: blue;
	cursor: pointer;
	user-select: none;
}

.results-sim-reference-delete {
	color: red;
	cursor: pointer;
	user-select: none;
}
