// Set color variables which control the site theme.
.warrior-sim-ui {
	--main-bg-color: #4c0202;
	--main-text-color: White;
	--main-secondary-color: Black;
	--sidebar-bg-color: #222;
	--sidebar-text-color: White;
	--sidebar-highlight-color: #C69B6D;
}

// Set grid width for icon sections based on how many buffs we configured.
.warrior-sim-ui .self-buffs-section {
  grid-template-columns: repeat(4, 1fr);
}
.warrior-sim-ui .consumes-section {
  grid-template-columns: repeat(4, 1fr);
}
.warrior-sim-ui .buffs-section {
  grid-template-columns: repeat(5, 1fr);
}
.warrior-sim-ui .debuffs-section {
  grid-template-columns: repeat(3, 1fr);
}
