@charset "UTF-8";
:root {
  --main-bg-color: DarkSlateGrey;
  --main-text-color: White;
  --main-secondary-color: Black;
  --sidebar-bg-color: DarkKhaki;
  --sidebar-text-color: White;
  --sidebar-highlight-color: Blue;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.socket-color-blue {
  border: 1px solid blue;
}

.item-quality-junk {
  color: #fff !important;
}

.item-quality-common {
  color: white !important;
}

.item-quality-uncommon {
  color: #1eff00 !important;
}

.item-quality-rare {
  color: #0070dd !important;
}

.item-quality-epic {
  color: #a335ee !important;
}

.item-quality-legendary {
  color: #ff8000 !important;
}

.socket-color-meta {
  border: 1px solid white;
}

.socket-color-red {
  border: 1px solid red;
}

.socket-color-yellow {
  border: 1px solid yellow;
}

:root {
  --main-bg-color: DarkSlateGrey;
  --main-text-color: White;
  --main-secondary-color: Black;
  --sidebar-bg-color: DarkKhaki;
  --sidebar-text-color: White;
  --sidebar-highlight-color: Blue;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.socket-color-blue {
  border: 1px solid blue;
}

.item-quality-junk {
  color: #fff !important;
}

.item-quality-common {
  color: white !important;
}

.item-quality-uncommon {
  color: #1eff00 !important;
}

.item-quality-rare {
  color: #0070dd !important;
}

.item-quality-epic {
  color: #a335ee !important;
}

.item-quality-legendary {
  color: #ff8000 !important;
}

.socket-color-meta {
  border: 1px solid white;
}

.socket-color-red {
  border: 1px solid red;
}

.socket-color-yellow {
  border: 1px solid yellow;
}

.cast-metrics-table {
  color: var(--main-text-color);
  width: 100%;
}

.cast-metrics-table-header-row {
  border-bottom: 3px solid var(--main-text-color);
}

.cast-metrics-table-header-cell {
  padding: 3px 1px;
  cursor: pointer;
}

.cast-metrics-table-body tr {
  border-bottom: 1px solid var(--main-text-color);
}

.cast-metrics-table-body tr:hover {
  background-color: rgba(255, 255, 0, 0.2);
}

.cast-metrics-table-body td {
  padding: 2px 1px;
}

.cast-metrics-action-icon {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 5vh;
  width: 5vh;
  vertical-align: middle;
}

.dps-histogram-root {
  height: 30vh;
  width: 90vw;
  margin: auto;
}

.dps-result {
  color: var(--main-text-color);
}

.results-sim-dps-avg {
  font-size: 30px;
  font-weight: 700;
}

.results-sim-dps-avg:after {
  content: " DPS";
  font-size: 18px;
}

.results-sim-dps-stdev {
  font-size: 18px;
  font-weight: 700;
}

.results-sim-dps-stdev:before {
  content: " ±";
  padding: 2px;
}

.percent-oom {
  color: var(--main-text-color);
}

.percent-oom.safe {
  color: lawngreen;
}

.percent-oom.warning {
  color: yellow;
}

.percent-oom.danger {
  color: red;
}

.percent-oom-value {
  font-size: 30px;
  font-weight: 700;
}

.percent-oom-label {
  font-size: 18px;
  font-weight: 700;
}

.source-chart-root {
  height: 30vh;
  width: 30vh;
}

body {
  background-color: var(--main-bg-color);
}

.dr-root {
  margin: 10px;
}

.dr-row {
  margin: 10px;
}

.topline-results {
  display: flex;
  justify-content: space-around;
}

.source-stats {
  display: none;
}

/*# sourceMappingURL=index.css.map */
