@charset "UTF-8";
:root {
  --main-bg-color: DarkSlateGrey;
  --main-text-color: White;
  --main-secondary-color: Black;
  --sidebar-bg-color: DarkKhaki;
  --sidebar-text-color: White;
  --sidebar-highlight-color: Blue;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.socket-color-blue {
  border: 1px solid blue;
}

.item-quality-junk {
  color: #fff !important;
}

.item-quality-common {
  color: white !important;
}

.item-quality-uncommon {
  color: #1eff00 !important;
}

.item-quality-rare {
  color: #0070dd !important;
}

.item-quality-epic {
  color: #a335ee !important;
}

.item-quality-legendary {
  color: #ff8000 !important;
}

.socket-color-meta {
  border: 1px solid white;
}

.socket-color-red {
  border: 1px solid red;
}

.socket-color-yellow {
  border: 1px solid yellow;
}

.dropdown-root {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

.dropdown-button {
  cursor: pointer;
}

.dropdown-panel {
  display: none;
  position: absolute;
  background-color: gray;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-root:hover .dropdown-panel {
  display: block !important;
}

.dropdown-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

*:not(.dropdown-button) > .dropdown-option:not(:hover) {
  opacity: 0.7;
}

.positive {
  color: lawngreen;
}

.negative {
  color: red;
}

:root {
  --main-bg-color: DarkSlateGrey;
  --main-text-color: White;
  --main-secondary-color: Black;
  --sidebar-bg-color: DarkKhaki;
  --sidebar-text-color: White;
  --sidebar-highlight-color: Blue;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.socket-color-blue {
  border: 1px solid blue;
}

.item-quality-junk {
  color: #fff !important;
}

.item-quality-common {
  color: white !important;
}

.item-quality-uncommon {
  color: #1eff00 !important;
}

.item-quality-rare {
  color: #0070dd !important;
}

.item-quality-epic {
  color: #a335ee !important;
}

.item-quality-legendary {
  color: #ff8000 !important;
}

.socket-color-meta {
  border: 1px solid white;
}

.socket-color-red {
  border: 1px solid red;
}

.socket-color-yellow {
  border: 1px solid yellow;
}

.dropdown-root {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

.dropdown-button {
  cursor: pointer;
}

.dropdown-panel {
  display: none;
  position: absolute;
  background-color: gray;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-root:hover .dropdown-panel {
  display: block !important;
}

.dropdown-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

*:not(.dropdown-button) > .dropdown-option:not(:hover) {
  opacity: 0.7;
}

.positive {
  color: lawngreen;
}

.negative {
  color: red;
}

:root {
  --main-bg-color: DarkSlateGrey;
  --main-text-color: White;
  --main-secondary-color: Black;
  --sidebar-bg-color: DarkKhaki;
  --sidebar-text-color: White;
  --sidebar-highlight-color: Blue;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.socket-color-blue {
  border: 1px solid blue;
}

.item-quality-junk {
  color: #fff !important;
}

.item-quality-common {
  color: white !important;
}

.item-quality-uncommon {
  color: #1eff00 !important;
}

.item-quality-rare {
  color: #0070dd !important;
}

.item-quality-epic {
  color: #a335ee !important;
}

.item-quality-legendary {
  color: #ff8000 !important;
}

.socket-color-meta {
  border: 1px solid white;
}

.socket-color-red {
  border: 1px solid red;
}

.socket-color-yellow {
  border: 1px solid yellow;
}

.dropdown-root {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

.dropdown-button {
  cursor: pointer;
}

.dropdown-panel {
  display: none;
  position: absolute;
  background-color: gray;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-root:hover .dropdown-panel {
  display: block !important;
}

.dropdown-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

*:not(.dropdown-button) > .dropdown-option:not(:hover) {
  opacity: 0.7;
}

.positive {
  color: lawngreen;
}

.negative {
  color: red;
}

.aura-metrics-table {
  color: var(--main-text-color);
  width: 100%;
}

.aura-metrics-table-header-cell {
  padding: 3px 1px;
  cursor: pointer;
}

.aura-metrics-table-body tr {
  border-bottom: 1px solid var(--main-text-color);
}

.aura-metrics-table-body tr:hover {
  background-color: rgba(255, 255, 0, 0.2);
}

.aura-metrics-table-body td {
  padding: 2px 1px;
}

.aura-metrics-action-icon {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 5vh;
  width: 5vh;
  vertical-align: middle;
}

.dps-histogram-root {
  height: 30vh;
  width: 90vw;
  margin: auto;
}

.dps-result {
  color: var(--main-text-color);
}

.results-sim-dps-avg {
  font-size: 30px;
  font-weight: 700;
}

.results-sim-dps-avg:after {
  content: " DPS";
  font-size: 18px;
}

.results-sim-dps-stdev {
  font-size: 18px;
  font-weight: 700;
}

.results-sim-dps-stdev:before {
  content: " ±";
  padding: 2px;
}

.percent-oom {
  color: var(--main-text-color);
}

.percent-oom.safe {
  color: lawngreen;
}

.percent-oom.warning {
  color: yellow;
}

.percent-oom.danger {
  color: red;
}

.percent-oom-value {
  font-size: 30px;
  font-weight: 700;
}

.percent-oom-label {
  font-size: 18px;
  font-weight: 700;
}

.player-damage-row {
  cursor: pointer;
}

.amount-header-cell, .amount-cell {
  text-align: center !important;
}

.amount-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  width: 600px;
  margin: auto;
}

.player-damage-percent {
  display: inline-block;
  margin: 0 10px;
}

.player-damage-bar-container {
  display: inline-block;
  flex-grow: 1;
}

.player-damage-bar {
  height: 25px;
}

.player-damage-total {
  display: inline-block;
  margin: 0 10px;
}

.results-filter-root {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.player-filter-root {
  border: 1px solid white;
  margin: 2px;
  color: white;
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black;
}

.player-filter-option {
  height: 30px;
}

.player-filter-icon {
  margin: 2px;
  height: 25px;
}

.player-filter-label {
  font-size: 14px;
  margin: 2px;
}

.source-chart-root {
  display: block;
  height: 400px;
  width: 600px;
}

body {
  background-color: var(--main-bg-color);
}

.all-players .single-player-only {
  display: none;
}

.single-player .all-players-only {
  display: none;
}

.individual-sim .single-player-only {
  display: initial;
}

.individual-sim .all-players-only {
  display: none;
}

.dr-root {
  margin: 10px;
}

.dr-row {
  padding: 10px;
}

.table-container {
  border: 1px solid white;
}

.dr-toolbar {
  display: flex;
}

.nav-tabs {
  border-bottom-color: var(--main-text-color);
}

.nav-tabs > li > a {
  color: var(--main-text-color);
}

.nav-tabs > li > a:hover, .nav-tabs > li.active > a {
  color: var(--main-secondary-color);
  background-color: var(--main-text-color);
}

.results-filter {
  display: flex !important;
  align-items: center;
}

.individual-sim .results-filter {
  display: none !important;
}

.tabs-filler {
  flex-grow: 1;
}

.other-metrics {
  display: flex;
  width: 100%;
}

.topline-results {
  display: flex;
  justify-content: space-around;
}

.metrics-table {
  color: var(--main-text-color);
  width: 100%;
}

.metrics-table-header-row {
  border-bottom: 2px solid white;
}

.metrics-table-header-cell {
  padding: 3px 1px;
  cursor: pointer;
}

.metrics-table-body tr {
  border-bottom: 1px solid var(--main-text-color);
}

.metrics-table-body tr:hover {
  background-color: rgba(255, 255, 0, 0.2);
}

.metrics-table-body td {
  padding: 2px 1px;
}

.metrics-table-header-cell:first-child, .metrics-table-body td:first-child {
  text-align: left;
}

.metrics-table-header-cell:not(:first-child), .metrics-table-body td:not(:first-child) {
  text-align: right;
}

.metrics-action-icon {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

/*# sourceMappingURL=index.css.map */
