@charset "UTF-8";
:root {
  --theme-color-primary: DarkSlateGrey;
  --theme-color-background: DarkSlateGrey;
  --theme-color-background-raw: 0, 0, 0;
  --theme-background-image: linear-gradient(black, black);
  --theme-background-opacity: 0.9;
  --main-bg-color: DarkSlateGrey;
  --main-text-color: White;
  --main-secondary-color: Black;
  --sidebar-bg-color: DarkKhaki;
  --sidebar-text-color: White;
  --sidebar-highlight-color: Blue;
}

.hide {
  display: none;
}

@font-face {
  font-family: SimDefaultFont;
  src: url(/tbc/assets/PlusJakartaSans-Regular.woff2);
}
@font-face {
  font-family: SimDefaultFont;
  src: url(/tbc/assets/PlusJakartaSans-Bold.woff2);
  font-weight: bold;
}
* {
  font-family: SimDefaultFont;
  letter-spacing: 1px;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.item-quality-junk {
  color: #fff !important;
}

.item-quality-common {
  color: white !important;
}

.item-quality-uncommon {
  color: #1eff00 !important;
}

.item-quality-rare {
  color: #0070dd !important;
}

.item-quality-epic {
  color: #a335ee !important;
}

.item-quality-legendary {
  color: #ff8000 !important;
}

#bootstrap-overrides .socket-color-blue {
  border: 1px solid blue !important;
}

#bootstrap-overrides .socket-color-meta {
  border: 1px solid white !important;
}

#bootstrap-overrides .socket-color-red {
  border: 1px solid red !important;
}

#bootstrap-overrides .socket-color-yellow {
  border: 1px solid yellow !important;
}

.dropdown-root {
  position: relative;
  display: inline-block !important;
  white-space: nowrap;
}

.dropdown-button {
  cursor: pointer;
  background-color: gray;
}

.dropdown-panel {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-panel-column {
  display: inline-flex;
  flex-direction: column;
}

.dropdown-root:hover .dropdown-panel {
  display: block !important;
}

.dropdown-option-container:hover {
  text-decoration: none;
}

.dropdown-option-container {
  background-color: gray;
}

.dropdown-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

*:not(.dropdown-button) > * > .dropdown-option:not(:hover) {
  opacity: 0.7;
}

.positive {
  color: lawngreen !important;
}

.negative {
  color: red !important;
}

.safe {
  color: lawngreen;
}

.warning {
  color: yellow;
}

.danger {
  color: red;
}

.bold {
  font-weight: bold;
}

.sim-button {
  color: var(--main-text-color);
  background-color: var(--theme-color-primary);
  border: none;
  padding: 5px;
  font-weight: bold;
}

.close-button {
  position: absolute;
  right: -10px;
  top: -10px;
  height: 30px;
  width: 30px;
  background-color: black;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 900;
  color: red;
  opacity: 0.5;
  text-shadow: none;
  cursor: pointer;
}

.close-button:hover {
  opacity: 1;
}

.close-button span {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.input-label-div {
  display: inline-block;
  margin: 5px;
}

.input-label, .input-tooltip {
  margin: 3px;
}

.input-root.disabled .input-label, .input-root.disabled .input-tooltip {
  filter: opacity(0.5);
}

.input-root.disabled .dropdown-button, .input-root.disabled .dropdown-option {
  filter: grayscale(1);
}

.input-root.hide {
  display: none;
}

.number-picker-input {
  margin: 5px;
  width: 92px;
}

.sim-title-root {
  display: block !important;
  height: 100%;
  color: white;
}

.sim-title-button {
  background-color: transparent !important;
}

.sim-title-button .sim-title-label {
  display: block;
}

.sim-title-label-container {
  text-align: left;
  width: 100%;
}

.sim-title-dropdown {
  width: 100%;
}

.sim-title-button .sim-title-dropdown-option-container {
  background: transparent;
}

.sim-title-option {
  width: 100%;
  height: 100%;
}

.sim-title-icon {
  margin: 5px;
  height: 50px;
}

.sim-title-label {
  margin: 2px 5px;
}

.sim-title-sim-label {
  color: white;
  font-size: 14px;
}

.sim-title-spec-label {
  color: var(--theme-color-primary);
  font-size: 16px;
  font-weight: bold;
}

.dropdown-panel .sim-title-spec-label {
  color: var(--main-text-color);
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black;
}

:root {
  --theme-color-primary: DarkSlateGrey;
  --theme-color-background: DarkSlateGrey;
  --theme-color-background-raw: 0, 0, 0;
  --theme-background-image: linear-gradient(black, black);
  --theme-background-opacity: 0.9;
  --main-bg-color: DarkSlateGrey;
  --main-text-color: White;
  --main-secondary-color: Black;
  --sidebar-bg-color: DarkKhaki;
  --sidebar-text-color: White;
  --sidebar-highlight-color: Blue;
}

.hide {
  display: none;
}

@font-face {
  font-family: SimDefaultFont;
  src: url(/tbc/assets/PlusJakartaSans-Regular.woff2);
}
@font-face {
  font-family: SimDefaultFont;
  src: url(/tbc/assets/PlusJakartaSans-Bold.woff2);
  font-weight: bold;
}
* {
  font-family: SimDefaultFont;
  letter-spacing: 1px;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.item-quality-junk {
  color: #fff !important;
}

.item-quality-common {
  color: white !important;
}

.item-quality-uncommon {
  color: #1eff00 !important;
}

.item-quality-rare {
  color: #0070dd !important;
}

.item-quality-epic {
  color: #a335ee !important;
}

.item-quality-legendary {
  color: #ff8000 !important;
}

#bootstrap-overrides .socket-color-blue {
  border: 1px solid blue !important;
}

#bootstrap-overrides .socket-color-meta {
  border: 1px solid white !important;
}

#bootstrap-overrides .socket-color-red {
  border: 1px solid red !important;
}

#bootstrap-overrides .socket-color-yellow {
  border: 1px solid yellow !important;
}

.dropdown-root {
  position: relative;
  display: inline-block !important;
  white-space: nowrap;
}

.dropdown-button {
  cursor: pointer;
  background-color: gray;
}

.dropdown-panel {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-panel-column {
  display: inline-flex;
  flex-direction: column;
}

.dropdown-root:hover .dropdown-panel {
  display: block !important;
}

.dropdown-option-container:hover {
  text-decoration: none;
}

.dropdown-option-container {
  background-color: gray;
}

.dropdown-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

*:not(.dropdown-button) > * > .dropdown-option:not(:hover) {
  opacity: 0.7;
}

.positive {
  color: lawngreen !important;
}

.negative {
  color: red !important;
}

.safe {
  color: lawngreen;
}

.warning {
  color: yellow;
}

.danger {
  color: red;
}

.bold {
  font-weight: bold;
}

.sim-button {
  color: var(--main-text-color);
  background-color: var(--theme-color-primary);
  border: none;
  padding: 5px;
  font-weight: bold;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
}

td, th {
  padding: auto;
}

input, select {
  color: var(--main-text-color);
  background-color: #1e2633;
  border: 1px solid #373e58;
  padding: 3px;
}

.sim-input {
  color: var(--main-text-color);
  background-color: #1e2633;
  border: 1px solid #373e58;
  padding: 3px;
}

.sim-root {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.sim-sidebar {
  height: 100%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #111218;
  flex: 1;
  overflow-y: auto;
}

.sim-sidebar > div {
  margin: 10px 0;
}

.sim-sidebar-title {
  margin: 0 0 50px 0 !important;
}

.sim-sidebar-title, .sim-toolbar {
  min-height: 60px;
  border-bottom: 1px solid white;
}

.sim-title-root {
  width: 100%;
}

.sim-sidebar-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sim-sidebar-actions-button {
  width: 150px;
  height: 40px;
  cursor: pointer;
  margin: 5px;
  background: transparent;
  color: var(--main-text-color);
  border: 1px solid var(--theme-color-primary);
  font-weight: 1000;
  transition: all 0.2s ease-in;
}

.sim-sidebar-actions-button:hover {
  color: var(--main-text-color);
  background: var(--theme-color-primary);
}

.iterations-picker {
  text-align: center;
}

.iterations-picker .input-label {
  color: var(--sidebar-text-color);
  font-size: 16px;
  font-weight: 700;
}

.sim-sidebar-results {
  flex-grow: 1;
}

.sim-sidebar-results {
  height: 100%;
  position: relative;
}

.sim-sidebar-results > div {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 100%;
  text-align: center;
}

.results-pending .loader {
  margin: auto;
}

.sim-sidebar-actions, .sim-sidebar-footer {
  margin: 0 !important;
}

.iterations-label {
  color: var(--sidebar-text-color);
}

.results-sim, .results-ep-table {
  color: var(--sidebar-text-color);
  text-shadow: 0 0 10px var(--sidebar-highlight-color);
}

.sim-main {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(var(--theme-color-background-raw), var(--theme-background-opacity)), rgba(var(--theme-color-background-raw), var(--theme-background-opacity))), var(--theme-background-image);
  background-size: cover;
  background-position: center center;
  color: var(--main-text-color);
  overflow-y: auto;
  flex: 4;
  min-width: 250px;
}

.nav-tabs {
  padding-left: 40px;
  padding-top: 15px;
  border-bottom-color: var(--theme-color-primary);
  color: var(--main-text-color);
  font-size: clamp(10px, 1.5vw, 15px);
}

.nav-tabs > li > a {
  color: var(--main-text-color) !important;
  border: none !important;
  border-radius: 0 !important;
  margin: 0.1vh 0.1vw 0.1vh 0.1vw;
  font-weight: bold;
}

.nav-tabs > li > a:hover, .nav-tabs > li.active > a {
  background-color: var(--theme-color-primary) !important;
}

.sim-main > .tab-content {
  flex-grow: 1;
  height: 80%;
}

.sim-main > .tab-content > .tab-pane {
  height: 100%;
}

.sim-toolbar {
  display: flex;
  align-items: flex-end;
}

.sim-tabs {
  padding-top: 0;
  width: 100%;
  border: none;
}

.sim-top-bar {
  float: right !important;
  display: flex !important;
  align-items: center !important;
  margin-right: 10px;
}

.sim-top-bar-item {
  cursor: pointer;
  font-size: clamp(12px, 2vw, 20px);
  margin-right: 12px;
}

.sim-dropdown-menu {
  position: relative;
}

.sim-dropdown-menu .dropdown-menu {
  background-color: #111218;
  border: 1px solid var(--theme-color-primary);
  text-align: right;
  min-width: auto;
  color: white;
  font-weight: bold;
  top: 120%;
}

.sim-dropdown-menu .dropdown-item {
  display: block;
  padding: 5px 20px;
  user-select: none;
  white-space: nowrap;
}

.sim-dropdown-menu .dropdown-item:hover {
  background-color: #2a2c3b;
}

.warnings {
  font-size: 30px;
  color: yellow;
  margin: 0 20px;
  text-shadow: 0 0 10px red, 0 0 10px red, 0 0 10px red;
}

.known-issues {
  display: none;
  background-color: red;
  border: 2px solid var(--main-text-color);
  padding: 2px;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 900;
}

.downbin {
  mask: url(/tbc/assets/gauge.svg);
  mask-size: cover;
  -webkit-mask: url(/tbc/assets/gauge.svg);
  -webkit-mask-size: cover;
  display: inline-block;
  width: 22px;
  height: 22px;
}

.downbinnorm {
  background-color: white;
}

.downbinalert {
  background-color: red;
}

.hide-threat-metrics .threat-metrics {
  display: none !important;
}

.hide-experimental .experimental {
  display: none !important;
}

.hide-in-front-of-target .in-front-of-target {
  display: none !important;
}

.dps-histogram-root {
  height: 30vh;
  width: 90vw;
  margin: auto;
}

.player-damage-row {
  cursor: pointer;
}

.amount-header-cell, .amount-cell {
  text-align: center !important;
}

.amount-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  width: 600px;
  margin: auto;
}

.player-damage-percent {
  display: inline-block;
  margin: 0 10px;
  width: 75px;
  text-align: right;
}

.player-damage-bar-container {
  display: inline-block;
  flex-grow: 1;
}

.player-damage-bar {
  height: 25px;
}

.player-damage-total {
  display: inline-block;
  margin: 0 10px;
}

:root {
  --theme-color-primary: DarkSlateGrey;
  --theme-color-background: DarkSlateGrey;
  --theme-color-background-raw: 0, 0, 0;
  --theme-background-image: linear-gradient(black, black);
  --theme-background-opacity: 0.9;
  --main-bg-color: DarkSlateGrey;
  --main-text-color: White;
  --main-secondary-color: Black;
  --sidebar-bg-color: DarkKhaki;
  --sidebar-text-color: White;
  --sidebar-highlight-color: Blue;
}

.hide {
  display: none;
}

@font-face {
  font-family: SimDefaultFont;
  src: url(/tbc/assets/PlusJakartaSans-Regular.woff2);
}
@font-face {
  font-family: SimDefaultFont;
  src: url(/tbc/assets/PlusJakartaSans-Bold.woff2);
  font-weight: bold;
}
* {
  font-family: SimDefaultFont;
  letter-spacing: 1px;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.item-quality-junk {
  color: #fff !important;
}

.item-quality-common {
  color: white !important;
}

.item-quality-uncommon {
  color: #1eff00 !important;
}

.item-quality-rare {
  color: #0070dd !important;
}

.item-quality-epic {
  color: #a335ee !important;
}

.item-quality-legendary {
  color: #ff8000 !important;
}

#bootstrap-overrides .socket-color-blue {
  border: 1px solid blue !important;
}

#bootstrap-overrides .socket-color-meta {
  border: 1px solid white !important;
}

#bootstrap-overrides .socket-color-red {
  border: 1px solid red !important;
}

#bootstrap-overrides .socket-color-yellow {
  border: 1px solid yellow !important;
}

.dropdown-root {
  position: relative;
  display: inline-block !important;
  white-space: nowrap;
}

.dropdown-button {
  cursor: pointer;
  background-color: gray;
}

.dropdown-panel {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-panel-column {
  display: inline-flex;
  flex-direction: column;
}

.dropdown-root:hover .dropdown-panel {
  display: block !important;
}

.dropdown-option-container:hover {
  text-decoration: none;
}

.dropdown-option-container {
  background-color: gray;
}

.dropdown-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

*:not(.dropdown-button) > * > .dropdown-option:not(:hover) {
  opacity: 0.7;
}

.positive {
  color: lawngreen !important;
}

.negative {
  color: red !important;
}

.safe {
  color: lawngreen;
}

.warning {
  color: yellow;
}

.danger {
  color: red;
}

.bold {
  font-weight: bold;
}

.sim-button {
  color: var(--main-text-color);
  background-color: var(--theme-color-primary);
  border: none;
  padding: 5px;
  font-weight: bold;
}

.resource-metrics-table-container {
  margin-bottom: 20px;
}

.resource-metrics-table-title {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.results-filter-root {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.player-filter-root {
  border: 1px solid white;
  margin: 2px;
  color: white;
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black;
}

.player-filter-option {
  height: 30px;
}

.player-filter-icon {
  margin: 2px;
  height: 25px;
}

.player-filter-label {
  font-size: 14px;
  margin: 2px;
}

.source-chart-root {
  display: block;
  height: 400px;
  width: 600px;
}

:root {
  --theme-color-primary: DarkSlateGrey;
  --theme-color-background: DarkSlateGrey;
  --theme-color-background-raw: 0, 0, 0;
  --theme-background-image: linear-gradient(black, black);
  --theme-background-opacity: 0.9;
  --main-bg-color: DarkSlateGrey;
  --main-text-color: White;
  --main-secondary-color: Black;
  --sidebar-bg-color: DarkKhaki;
  --sidebar-text-color: White;
  --sidebar-highlight-color: Blue;
}

.hide {
  display: none;
}

@font-face {
  font-family: SimDefaultFont;
  src: url(/tbc/assets/PlusJakartaSans-Regular.woff2);
}
@font-face {
  font-family: SimDefaultFont;
  src: url(/tbc/assets/PlusJakartaSans-Bold.woff2);
  font-weight: bold;
}
* {
  font-family: SimDefaultFont;
  letter-spacing: 1px;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.item-quality-junk {
  color: #fff !important;
}

.item-quality-common {
  color: white !important;
}

.item-quality-uncommon {
  color: #1eff00 !important;
}

.item-quality-rare {
  color: #0070dd !important;
}

.item-quality-epic {
  color: #a335ee !important;
}

.item-quality-legendary {
  color: #ff8000 !important;
}

#bootstrap-overrides .socket-color-blue {
  border: 1px solid blue !important;
}

#bootstrap-overrides .socket-color-meta {
  border: 1px solid white !important;
}

#bootstrap-overrides .socket-color-red {
  border: 1px solid red !important;
}

#bootstrap-overrides .socket-color-yellow {
  border: 1px solid yellow !important;
}

.dropdown-root {
  position: relative;
  display: inline-block !important;
  white-space: nowrap;
}

.dropdown-button {
  cursor: pointer;
  background-color: gray;
}

.dropdown-panel {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-panel-column {
  display: inline-flex;
  flex-direction: column;
}

.dropdown-root:hover .dropdown-panel {
  display: block !important;
}

.dropdown-option-container:hover {
  text-decoration: none;
}

.dropdown-option-container {
  background-color: gray;
}

.dropdown-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

*:not(.dropdown-button) > * > .dropdown-option:not(:hover) {
  opacity: 0.7;
}

.positive {
  color: lawngreen !important;
}

.negative {
  color: red !important;
}

.safe {
  color: lawngreen;
}

.warning {
  color: yellow;
}

.danger {
  color: red;
}

.bold {
  font-weight: bold;
}

.sim-button {
  color: var(--main-text-color);
  background-color: var(--theme-color-primary);
  border: none;
  padding: 5px;
  font-weight: bold;
}

.threat .series-color, .threat.series-color {
  color: #b56d07;
}

.mana .series-color, .mana.series-color {
  color: #2E93fA;
}

.energy .series-color, .energy.series-color {
  color: #ffd700;
}

.rage .series-color, .rage.series-color {
  color: #ff0000;
}

.focus .series-color, .focus.series-color {
  color: #cd853f;
}

.combo-points .series-color, .combo-points.series-color {
  color: #ffa07a;
}

.timeline-warning {
  color: yellow;
  margin: 0 10px;
  text-shadow: 0 0 10px red, 0 0 10px red;
}

.timeline-warning-description {
  color: var(--main-text-color);
}

.timeline-run-again-button {
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
}

.timeline-chart-picker {
  float: right;
}

.timeline-plots-container {
  margin: 5px;
  margin-top: 15px;
  height: 70vh;
}

.timeline-plot > div {
  margin: auto;
}

.timeline-tooltip {
  background-color: #333;
  border: none;
  color: white;
  padding: 3px;
}

.timeline-tooltip-header {
  border-bottom: 1px solid white;
  margin-bottom: 5px;
}

.timeline-tooltip-body-row {
  display: flex;
  align-items: center;
}

.timeline-tooltip-icon {
  width: 20px;
  height: 20px;
}

.timeline-tooltip ul {
  list-style: none;
  padding-left: 1em;
}

.timeline-tooltip ul li::before {
  content: "•";
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.timeline-tooltip.dps ul li::before {
  color: #ed5653;
}

.timeline-tooltip.threat ul li::before {
  color: #b56d07;
}

.timeline-tooltip.mana ul li::before {
  color: #2E93fA;
}

.timeline-tooltip.energy ul li::before {
  color: #ffd700;
}

.timeline-tooltip.rage ul li::before {
  color: #ff0000;
}

.timeline-tooltip.focus ul li::before {
  color: #cd853f;
}

.timeline-tooltip.combo-points ul li::before {
  color: #ffa07a;
}

.series-color {
  font-weight: bold;
}

.timeline-tooltip-auras {
  border-top: 1px solid white;
  margin-top: 5px;
}

.timeline-tooltip-auras ul li::before {
  color: white;
}

.rotation-plot {
  margin-top: 40px;
}

.rotation-container {
  color: white;
  display: flex;
}

.rotation-hidden-ids {
  margin: 10px !important;
}

.rotation-row {
  height: 28px;
  margin: 2px 0;
}

.rotation-labels {
  display: inline-block;
  white-space: nowrap;
}

.rotation-label {
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: white;
}

.rotation-label .fas {
  margin: 1px;
  cursor: pointer;
  color: #ffefd5;
}

.rotation-label .fas:hover {
  color: yellow;
}

.rotation-label-hidden {
  display: inline-flex;
  border: 1px solid white;
  margin: 3px;
}

.rotation-label-icon {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  width: 24px;
  margin: 2px;
}

.rotation-label-text {
  margin: 2px;
}

.rotation-label-header, .rotation-timeline-header {
  height: 30px;
}

.rotation-timeline {
  display: inline-block;
  overflow-x: scroll;
}

.rotation-timeline-row {
  position: relative;
  border-bottom: 1px solid grey;
}

.rotation-timeline-resource {
  position: absolute;
  height: 100%;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  display: flex;
  align-items: center;
  font-weight: bold;
  overflow-x: hidden;
}

.rotation-timeline-cast {
  position: absolute;
  background-color: #e5cc80;
  z-index: 1;
}

.rotation-timeline-tick {
  position: absolute;
  width: 5px;
  background-color: maroon;
  height: 20px;
  top: 2px;
  z-index: 2;
}

.rotation-timeline-aura {
  position: absolute;
  background-color: blue;
  opacity: 0.5;
  height: 20px;
  top: 2px;
}

.rotation-timeline-separator {
  width: 100%;
  border: 2px solid white;
  margin: 10px 0;
}

.rotation-timeline-cast-icon {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  width: 24px;
  border: 1px solid grey;
}

.rotation-timeline-cast.outcome-miss .rotation-timeline-cast-icon {
  border-color: red;
}

.rotation-timeline-cast.outcome-partial .rotation-timeline-cast-icon {
  border-color: yellow;
}

.rotation-timeline-cast.outcome-hit .rotation-timeline-cast-icon {
  border-color: green;
}

.rotation-timeline-cast.outcome-crit .rotation-timeline-cast-icon {
  border-color: blue;
}

:root {
  --theme-color-primary: DarkSlateGrey;
  --theme-color-background: DarkSlateGrey;
  --theme-color-background-raw: 0, 0, 0;
  --theme-background-image: linear-gradient(black, black);
  --theme-background-opacity: 0.9;
  --main-bg-color: DarkSlateGrey;
  --main-text-color: White;
  --main-secondary-color: Black;
  --sidebar-bg-color: DarkKhaki;
  --sidebar-text-color: White;
  --sidebar-highlight-color: Blue;
}

.hide {
  display: none;
}

@font-face {
  font-family: SimDefaultFont;
  src: url(/tbc/assets/PlusJakartaSans-Regular.woff2);
}
@font-face {
  font-family: SimDefaultFont;
  src: url(/tbc/assets/PlusJakartaSans-Bold.woff2);
  font-weight: bold;
}
* {
  font-family: SimDefaultFont;
  letter-spacing: 1px;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.item-quality-junk {
  color: #fff !important;
}

.item-quality-common {
  color: white !important;
}

.item-quality-uncommon {
  color: #1eff00 !important;
}

.item-quality-rare {
  color: #0070dd !important;
}

.item-quality-epic {
  color: #a335ee !important;
}

.item-quality-legendary {
  color: #ff8000 !important;
}

#bootstrap-overrides .socket-color-blue {
  border: 1px solid blue !important;
}

#bootstrap-overrides .socket-color-meta {
  border: 1px solid white !important;
}

#bootstrap-overrides .socket-color-red {
  border: 1px solid red !important;
}

#bootstrap-overrides .socket-color-yellow {
  border: 1px solid yellow !important;
}

.dropdown-root {
  position: relative;
  display: inline-block !important;
  white-space: nowrap;
}

.dropdown-button {
  cursor: pointer;
  background-color: gray;
}

.dropdown-panel {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-panel-column {
  display: inline-flex;
  flex-direction: column;
}

.dropdown-root:hover .dropdown-panel {
  display: block !important;
}

.dropdown-option-container:hover {
  text-decoration: none;
}

.dropdown-option-container {
  background-color: gray;
}

.dropdown-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

*:not(.dropdown-button) > * > .dropdown-option:not(:hover) {
  opacity: 0.7;
}

.positive {
  color: lawngreen !important;
}

.negative {
  color: red !important;
}

.safe {
  color: lawngreen;
}

.warning {
  color: yellow;
}

.danger {
  color: red;
}

.bold {
  font-weight: bold;
}

.sim-button {
  color: var(--main-text-color);
  background-color: var(--theme-color-primary);
  border: none;
  padding: 5px;
  font-weight: bold;
}

.results-sim {
  text-align: center;
}

.results-sim-dps {
  text-align: center;
}

.results-sim-tps {
  text-align: center;
}

.topline-result-avg {
  font-size: 30px;
  font-weight: 700;
}

.topline-result-avg:after {
  font-size: 18px;
}

.results-sim-dps .topline-result-avg:after {
  content: " DPS";
}

.results-sim-tps .topline-result-avg:after {
  content: " TPS";
}

.results-sim-dtps .topline-result-avg:after {
  content: " DTPS";
}

.topline-result-stdev {
  font-size: 18px;
  font-weight: 700;
}

.topline-result-stdev:before {
  content: " ±";
  padding: 2px;
}

.topline-result-label {
  font-size: 18px;
  font-weight: 700;
}

.results-sim-reference.has-reference .results-sim-set-reference {
  display: none;
}

.results-sim-reference:not(.has-reference) .results-sim-reference-bar {
  display: none;
}

.results-sim-set-reference {
  cursor: pointer;
  font-size: 24px;
  color: var(--theme-color-primary);
}

.results-sim-reference-swap {
  color: blue;
  cursor: pointer;
  user-select: none;
  margin: 5px;
}

.results-sim-reference-delete {
  color: red;
  cursor: pointer;
  user-select: none;
  margin: 5px;
}

.topline-results-root {
  display: flex;
  justify-content: space-around;
}

body {
  background-color: transparent;
  overflow: auto;
  max-height: 100vh;
  color: var(--main-text-color);
}

body.new-tab {
  background-image: linear-gradient(rgba(var(--theme-color-background-raw), var(--theme-background-opacity)), rgba(var(--theme-color-background-raw), var(--theme-background-opacity))), var(--theme-background-image);
}

.all-players .single-player-only {
  display: none;
}

.single-player .all-players-only {
  display: none;
}

.individual-sim .single-player-only {
  display: initial;
}

.individual-sim .all-players-only {
  display: none;
}

.dr-root {
  margin: 10px;
}

.dr-row {
  padding: 10px;
}

.table-container {
  border: 1px solid white;
}

.dr-toolbar {
  display: flex;
}

.nav-tabs {
  border-bottom-color: var(--theme-color-primary);
  color: var(--main-text-color);
}

.nav-tabs > li > a {
  color: var(--main-text-color) !important;
  border: none !important;
  border-radius: 0 !important;
  margin: 0.1vh 0.1vw 0.1vh 0.1vw;
  font-weight: bold;
}

.nav-tabs > li > a:hover, .nav-tabs > li.active > a {
  background-color: var(--theme-color-primary) !important;
}

.results-filter {
  display: flex !important;
  align-items: center;
}

.individual-sim .results-filter {
  display: none !important;
}

.tabs-filler {
  flex-grow: 1;
}

.other-metrics {
  display: flex;
  width: 100%;
}

.metrics-table {
  color: var(--main-text-color);
  width: 100%;
  font-size: 16px;
}

.melee-metrics-root .metrics-table {
  font-size: 12px;
}

.hide-in-front-of-target.melee-metrics-root .metrics-table, .hide-threat-metrics .melee-metrics-root .metrics-table {
  font-size: 14px;
}

.hide-threat-metrics .hide-in-front-of-target.melee-metrics-root .metrics-table {
  font-size: 16px;
}

.metrics-table-header-row {
  border-bottom: 2px solid white;
}

.metrics-table-header-cell {
  padding: 3px 1px;
  cursor: pointer;
}

.metrics-table-body tr {
  border-bottom: 1px solid var(--main-text-color);
}

.metrics-table-body tr:hover {
  background-color: rgba(255, 255, 0, 0.2);
}

.metrics-table-body td {
  padding: 2px 1px;
}

.metrics-table-header-cell:first-child, .metrics-table-body td:first-child {
  text-align: left;
}

.metrics-table-header-cell:not(:first-child), .metrics-table-body td:not(:first-child) {
  text-align: right;
}

.metrics-action-icon {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

.parent-metric {
  cursor: pointer;
}

.child-metric > *:first-child {
  padding-left: 20px;
}

tr:not(.parent-metric) .expand-toggle {
  display: none;
}

.parent-metric.expand .fa-caret-down {
  display: none;
}

.parent-metric:not(.expand) .fa-caret-right {
  display: none;
}

/*# sourceMappingURL=index.css.map */
