@import "../core/themes/default";

// Set color variables which control the site theme.
:root {
	--main-bg-color: #995c00;
	--main-text-color: White;
	--main-secondary-color: Black;
	--sidebar-bg-color: #222;
	--sidebar-text-color: White;
	--sidebar-highlight-color: #ff9900;
}

body {
  margin: 0;
}

// Set grid width for icon sections based on how many buffs we configured.
.self-buffs-section {
  grid-template-columns: repeat(3, 1fr);
}
.consumes-section {
  grid-template-columns: repeat(5, 1fr);
}
.buffs-section {
  grid-template-columns: repeat(6, 1fr);
}
.debuffs-section {
  grid-template-columns: repeat(2, 1fr);
}

// Balance has a lot of EP stats, so make the text smaller so it fits vertically.
.character-stats-table-row {
  font-size: 14px;
}
.results-ep-table tr td:nth-child(1) {
  font-size: 12px;
}
.results-ep-table tr td:nth-child(2), .results-ep-table tr td:nth-child(4) {
  font-size: 12px;
}
.results-ep-table tr td:nth-child(2):after {
  font-size: 11px;
}
.results-ep-table tr td:nth-child(4):after {
  font-size: 11px;
}
.results-ep-table tr td:nth-child(3), .results-ep-table tr td:nth-child(5) {
  font-size: 10px;
}
