@import "../core/individual_sim_ui";
@import "./sim";

// Set color variables which control the site theme.
:root {
	--main-bg-color: #995c00;
	--main-text-color: White;
	--main-secondary-color: Black;
	--sidebar-bg-color: #222;
	--sidebar-text-color: White;
	--sidebar-highlight-color: #ff9900;
}
