@import "../core/themes/default";

// Set color variables which control the site theme.
:root {
	--main-bg-color: #995c00;
	--main-text-color: White;
	--main-secondary-color: Black;
	--sidebar-bg-color: #222;
	--sidebar-text-color: White;
	--sidebar-highlight-color: #ff9900;
}

body {
  margin: 0;
}

// Set grid width for icon sections based on how many buffs we configured.
.self-buffs-section>div {
  grid-template-columns: repeat(3, 1fr);
}
.consumes-section>div {
  grid-template-columns: repeat(5, 1fr);
}
.buffs-section>div {
  grid-template-columns: repeat(6, 1fr);
}
.debuffs-section>div {
  grid-template-columns: repeat(2, 1fr);
}
